*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.main{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(224, 220, 220);
  width: 100vw;
  height: 100vh;
}
.todoapp{
  width: 30%;
  height: 550px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-left: 100px;
}
.input{
  display: flex;
  width: 80%;
  height: auto;
}
.input input{
  width: 100%; 
   height: 50px;
}